  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">ICTAK</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li class="drop-down"><a href="">Courses</a>
            <ul>
              <li><a href="courselist">Retail</a></li>              
              <li><a href="#">Institutional</a></li>
              <li><a href="#">Corporate</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Offerings</a>
            <ul>
              <li><a routerLink="partnership">Partnership</a></li>              
              <li class="drop-down"><a href="#">Membership</a>
                <ul>
                  <li><a routerLink="academicmembership">Academic Membership</a></li>
                  <li><a routerLink="corporatemembership">Corporate Membership</a></li>
                </ul>              
              </li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Events</a>
            <ul>
              <li><a href="#">ICSET</a></li>
              <li><a href="#">Techathlon</a></li>
            </ul>
          </li>
          <li><a href="pricing.html">Patashala LMS</a></li>
          
          <li><a href="contact.html">Contact</a></li>
          <li><a routerLink="admin">Admin</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="courses.html" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->


  <router-outlet></router-outlet>

   