<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Premium Membership Form</h1>
      <h2>

Existing Premium Member colleges (19-20 Academic Year) are requested to submit the membership renewal request. Click the Existing Member Renewal Form and submit needed details.

New institutions are requested to submit the New membership Application form.

For support / clarification feel free to call @ 8111840022 or write to us @ sreekumar.kv@ictkerala.org
</h2>
      <a href="#" class="btn-get-started">Registration closed</a>
    </div>
  </section><!-- End Hero -->
  <main id="main">
          <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>S. No</th>
                    <th>Membership ID</th>
                    <th>Name of the Institution</th>
                    <th>Website address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>ICTAK/2021/PM/001</td>
                    <td>Ace College Of Engineering</td>
                    <td><a href="https://www.acetvm.com/"></a></td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>ICTAK/2021/PM/002</td>
                    <td>Adi Shankara Institute of Engineering and Technology, Kalady</td>
                    <td><a href="https://www.adishankara.ac.in/"></a></td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>ICTAK/2021/PM/003</td>
                    <td>Ahalia School of Engineering and Technology</td>
                    <td><a href="https://ahalia.ac.in/"></a></td>
                  </tr>
                </tbody>
              </table>
          </div>
  
        </div>
      </section><!-- End Why Us Section -->
